---
import { Ai } from "@cloudflare/ai";

export const partial = true;

const formData = await Astro.request.formData();
const question = formData.get("question");

const ai = new Ai(Astro.locals.runtime.env.AI);

const response = await ai.run("@cf/mistral/mistral-7b-instruct-v0.1", {
  prompt: `Answer the user's question. User: ${question}. You:`,
});
---

<div>Response: {response}</div>
