---
import Layout from "../layouts/Layout.astro";
import ChatBox from "../components/ChatBox.astro";

// cache for 10 secs, then serve stale response for 1 year while revalidating
// in background
Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=10, stale-while-revalidate=31536000",
);
---

<Layout
  title="Magic AI Box"
  className="gap-8 px-4 py-8 md:gap-12 md:px-12 md:py-12"
>
  <h1>Magic AI Box</h1>
  <ChatBox />
</Layout>
